#a1{font-size: 30px;}
.active a{border-radius:0.5rem;}
.xi{font-size: 30px;}
.hidden-xs{font-weight: bold;}
#yue{text-decoration: none; border-radius: 20px;background-color:darkslategrey;font-size: 2.5rem;border: 1rem solid darkslategrey;}
#lj{font-size: 3.5rem;}
